/* ==========================================================================
*  Bloghash Customizer Preview styles.
*  ========================================================================== */

.customize-partial-edit-shortcut-blogname,
.customize-partial-edit-shortcut-bloghash_footer_widgets_align_center,
.customize-partial-edit-shortcut-bloghash_hero_slider_post_number {
    display: none !important;
}

.bloghash-hide-shortcuts .customize-partial-edit-shortcut {
    display: none !important;
}

.customize-partial-edit-shortcut {
    z-index: 999;
}

.customize-partial-edit-shortcut-bloghash_top_bar_widgets,
.customize-partial-edit-shortcut-bloghash_enable_pre_footer_cta,
.customize-partial-edit-shortcut-bloghash_header_widgets,
.customize-partial-edit-shortcut-bloghash_copyright_widgets,
.customize-partial-edit-shortcut-bloghash_hero_slider_elements,
.customize-partial-edit-shortcut-bloghash_editors_choice_number,
.customize-partial-edit-shortcut-bloghash_featured_links,
.customize-partial-edit-shortcut-bloghash_pyml_elements,
.customize-partial-edit-shortcut-bloghash_ticker_elements {
    left: 50%;
    top: 50%;
}

.customize-partial-edit-shortcut-bloghash_top_bar_widgets button,
.customize-partial-edit-shortcut-bloghash_enable_pre_footer_cta button,
.customize-partial-edit-shortcut-bloghash_header_widgets button,
.customize-partial-edit-shortcut-bloghash_copyright_widgets button,
.customize-partial-edit-shortcut-bloghash_hero_slider_elements button,
.customize-partial-edit-shortcut-bloghash_editors_choice_number button,
.customize-partial-edit-shortcut-bloghash_featured_links button,
.customize-partial-edit-shortcut-bloghash_pyml_elements button,
.customize-partial-edit-shortcut-bloghash_ticker_elements button {
    left: -15px;
    top: -15px;
}

.bloghash-social-nav .customize-partial-edit-shortcut {
    top: 0;
}

.bloghash-social-nav .customize-partial-edit-shortcut button {
    left: -20px;
}

.bloghash-primary-nav .customize-partial-edit-shortcut {
    top: 12px;
}

.bloghash-primary-nav .customize-partial-edit-shortcut button {
    left: -25px;
}

.bloghash-header-layout-6 .customize-partial-edit-shortcut-bloghash_header_layout,
.bloghash-header-layout-4 .customize-partial-edit-shortcut-bloghash_header_layout,
.bloghash-header-layout-3 .customize-partial-edit-shortcut-bloghash_header_layout {
    left: 30px;
}

.customize-partial-edit-shortcut-bloghash_footer_layout {
    top: 50%;
    left: 35px;
}

.bloghash_home_section {
    position: relative;
}

.bloghash_home_section::before {
    transition: .3s ease;
    z-index: 8;
    position: absolute;
    content: " ";
    border: 2px dashed rgba(195, 195, 195, .5);
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    pointer-events: none;
}

.bloghash_home_section:hover::before {
    border-color: #00a0d0;
}

.bloghash_home_section>.customize-partial-edit-shortcut {
    left: 40px;
    top: 8px;
    z-index: 8;
}